extends ../layout

block content
	h1.mt-4.mb-2(style="text-align: center;") ALL BRANDS
	.brands-car
		img(src="images/abstract.jpg")
		for brand in brands
			a.brand-car-el(href=brand.url)
				img(src=brand.image)
		for brand in brands
			a.brand-car-el(href=brand.url)
				img(src=brand.image)


	h1.mt-4.mb-4(style="text-align: center;") ALL CATEGORIES
	div.container
		div.row.align-items-center
			for category in categories 
				div.col.container 
					div.row.justify-content-center
						a(href=category.url) 
							button.btn.btn-dark #{category.name} 
				br
	br
	br

	h1.mt-4.mb-4(style="text-align: center;") ALL ITEMS
	div.container
		div.row.justify-content-center
			for item in items 
				div.col.container.mt-2.mb-4
					div.row.justify-content-center
						div.card.item-hover(style="width: 15rem;")
							img.card-img-top(src=item.image alt="Phone")
							div.card-body
								a.card-title(href=item.url) #{item.name} 
								p.card-text #{item.description} 
								p.card-text #{item.brand.name} 
								p.card-text #{item.price}
			br
	br
	br