extends ../layout

block content
    div.mt-4.mb-2
        a(href='/items/create' style="text-decoration: none;") 
            button.btn.btn-outline-dark.btn-lg.btn-block(type="button") Create a new Item
    br
    br
    div.container
            div.row.justify-content-center
                for item in items 
                    div.col.container.mt-2.mb-4
                        div.row.justify-content-center
                            div.card.item-hover(style="width: 15rem;")
                                img.card-img-top(src=item.image alt="Phone")
                                div.card-body
                                    a.card-title(href=item.url) #{item.name} 
                                    p.card-text #{item.description} 
                                    p.card-text #{item.brand.name} 
                                    p.card-text #{item.price}
