extends ../layout

block content
    div.container
            div.row.justify-content-center
                for item in items 
                    div.col.container
                        div.row.justify-content-center
                            div.card.hover(style="width: 15rem;")
                                img.card-img-top(src=item.image alt="Phone")
                                div.card-body
                                    a.card-title(href=item.url) #{item.name} 
                                    p.card-text #{item.description} 
                                    p.card-text #{item.brand.name} 
                                    p.card-text #{item.price}
